 .u-section-1 {
  background-image: none;
  min-height: 758px;
}

.u-section-1 .u-shape-1 {
  height: 415px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -355px auto 27px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 761px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.875rem;
  margin: 41px 2px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.375rem;
  margin: 27px 2px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 761px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 356px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 355px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 726px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.375rem;
  margin: 0 14px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 713px;
  }

  .u-section-1 .u-shape-1 {
    height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-1 .u-image-1 {
    height: 293px;
  }

  .u-section-1 .u-image-2 {
    height: 293px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 599px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 675px;
  }

  .u-section-1 .u-shape-1 {
    height: 680px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 739px;
  }

  .u-section-1 .u-image-1 {
    height: 345px;
  }

  .u-section-1 .u-image-2 {
    height: 345px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1289px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 689px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1109px;
  }

  .u-section-1 .u-image-1 {
    height: 518px;
  }

  .u-section-1 .u-image-2 {
    height: 518px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 967px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 593px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 698px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
  }

  .u-section-1 .u-image-2 {
    height: 326px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 609px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 161px;
} .u-section-3 {
  background-image: none;
  min-height: 50vw;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 887px);
  background-image: none;
  height: 726px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -666px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 729px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 30px 49px 0 11px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.4;
  margin: 0 auto 0 11px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 60px 11px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 729px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 381px;
  width: 730px;
  margin: 185px auto 0 -233px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1019px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 756px);
    height: 672px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -612px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-gallery-1 {
    width: 277px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 471px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 589px);
    height: 661px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -601px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-3 .u-gallery-1 {
    width: 208px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 501px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 439px);
    height: 1171px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1110px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 135px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 767px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 423px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 297px);
    height: 1098px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1038px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 80px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 483px;
  }
}.gradient_between {
	background: #d98352;
background: -webkit-linear-gradient(left, #d98352, #000000);
background: -moz-linear-gradient(left, #d98352, #000000);
background: -ms-linear-gradient(left, #d98352, #000000);
background: -o-linear-gradient(left, #d98352, #000000);
background: linear-gradient(to bottom, #d98352, #858e99);
}