 .u-section-1 {
  background-image: none;
  min-height: 1273px;
}

.u-section-1 .u-text-1 {
  margin: 79px auto 0;
}

.u-section-1 .u-group-1 {
  margin-top: 213px;
  margin-bottom: 0;
  min-height: 631px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1141px;
  grid-template-rows: auto auto auto;
  margin: -740px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 948px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-2 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-3 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-4 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-5 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-6 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-7 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-8 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-9 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-10 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-1 .u-icon-10 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-11 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-1 .u-icon-11 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-12 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-1 .u-icon-12 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-13 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 30px;
}

.u-section-1 .u-icon-13 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-14 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 30px;
}

.u-section-1 .u-icon-14 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-15 {
  margin: -57px 0 0 115px;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 30px;
}

.u-section-1 .u-icon-15 {
  height: 64px;
  width: 64px;
  margin: 54px auto 0 14px;
}

.u-section-1 .u-text-16 {
  margin: -57px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 392px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -101px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -119px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -19px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -126px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -44px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -18px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -101px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -44px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -120px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -18px;
  }

  .u-section-1 .u-icon-9 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -44px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -13px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -126px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -170px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 7px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -44px;
  }

  .u-section-1 .u-icon-14 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -44px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -126px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 662px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -76px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -69px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 98px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -101px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -45px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 85px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -76px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: -7px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -101px;
    margin-left: 80px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -120px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 80px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 80px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: -32px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -76px;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -76px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: -45px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: -32px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -76px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-12 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -44px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: -45px;
  }

  .u-section-1 .u-icon-11 {
    margin-top: -7px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -101px;
  }
}